services:
  research-postgres:
    image: postgres
    container_name: reSearch-postgres
    env_file: ".env"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5

  research-redis:
    image: redis
    container_name: reSearch-redis
    env_file: ".env"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Server applies postgres migrations and thus needs to run first
  research-server:
    build: ./services/server
    env_file: ".env"
    depends_on:
      research-postgres:
        condition: service_healthy
      research-redis:
        condition: service_healthy
    ports:
      - 3000:3000
    volumes:
      - ./config.yaml:/app/config.yaml
    deploy:
      replicas: 1

  research-crawler:
    build: ./services/crawler
    env_file: ".env"
    depends_on:
      research-postgres:
        condition: service_healthy
      research-redis:
        condition: service_healthy
      research-server:
        condition: service_started
    volumes:
      - ./config.yaml:/app/config.yaml
    deploy:
      replicas: 1

  research-indexer:
    build: ./services/indexer
    env_file: ".env"
    depends_on:
      research-postgres:
        condition: service_healthy
      research-redis:
        condition: service_healthy
      research-server:
        condition: service_started
    volumes:
      - ./config.yaml:/app/config.yaml
    deploy:
      replicas: 1

  research-tf-idf:
    build: ./services/tf-idf
    env_file: ".env"
    depends_on:
      research-postgres:
        condition: service_healthy
      research-redis:
        condition: service_healthy
      research-server:
        condition: service_started
    volumes:
      - ./config.yaml:/app/config.yaml
    deploy:
      replicas: 1

  research-page-rank:
    build: ./services/page-rank
    env_file: ".env"
    depends_on:
      research-postgres:
        condition: service_healthy
      research-redis:
        condition: service_healthy
      research-server:
        condition: service_started
    volumes:
      - ./config.yaml:/app/config.yaml
    deploy:
      replicas: 1
