:root {
	--bg-color: floralwhite;
	--accent-color: antiquewhite;
	--font-color: black;
	--font-opposite: white;
	--interaction-color: #54BCD4;
	--interaction-border-color: black;
	--interaction-font-color: black;
	--shadow-color: black;
	--search-result-url-color: green;
	--search-result-title-color: #007bff;
	--outline-color: black;
	--disabled-color: lightgray;
	--search-pagination-primary: palevioletred;
	--checkbox-bg-color: #9F9FED;
	--crawlerboard-reject-btn: #F97777;
	--crawlerboard-accept-btn: #48CB57;
	--toast-secondary-color: black;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #302000;
		--accent-color: #452b09;
		--font-color: #c8c4bd;
		--font-opposite: #2b2a33;
		--interaction-color: #247b8f;
		--interaction-border-color: #8c8273;
		--interaction-font-color: white;
		--shadow-color: white;
		--search-result-url-color: #72ff72;
		--search-result-title-color: #33a2ff;
		--outline-color: #8c8273;
		--disabled-color: #313537;
		--search-pagination-primary: #7f203f;
		--checkbox-bg-color: #131365;
		--crawlerboard-reject-btn: #820606;
		--crawlerboard-accept-btn: #2a964e;
	}
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100svh;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	display: flex;
	flex-direction: column;
	background-color: var(--bg-color);
	color: var(--font-color);
}

h1,
h3 {
	margin: 0;
}

h1 {
	text-align: center;
}

main {
	flex: 1;
	padding: 1rem;
	display: flex;
	word-break: break-all;
	justify-content: space-around;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 1rem !important;
	border: 1px solid var(--outline-color);
	cursor: pointer;
	transition: box-shadow 0.5s;
}


button:active,
button:hover,
button:focus {
	outline: 0;
	box-shadow: 0.1rem 0.1rem var(--font-color);
}

.header {
	position: sticky;
	top: 0;
	border-bottom: 1px solid var(--font-color);
	display: flex;
	padding: 2rem;
	gap: 2rem;
	z-index: 5;
	background-color: var(--bg-color);
}

.logo {
	font-weight: 200;
	color: var(--font-color);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	aspect-ratio: 1/1;
	min-width: 2.5rem;
	position: relative;
}

#header-actions {
	display: flex;
	justify-content: right;
	width: 100%;
}

#header-logo-mobile {
	display: none;
}

.logo::before {
	background-color: var(--font-color);
}

.logo:hover,
.logo:focus {
	color: var(--font-opposite);
}

.logo:focus {
	background-color: var(--font-color);
	outline: none;
}

.text-action-form {
	display: flex;
	gap: 1rem;
}


input[type="text"],
input[type="url"],
input[type="password"] {
	color: inherit;
	background-color: var(--font-opposite);
	flex: 1;
	border: 0;
	outline: 1px solid var(--outline-color);
	padding: 0 1rem;
	width: 500px;
}

input[type="text"]:focus,
input[type="text"]:hover,
input[type="url"]:focus,
input[type="url"]:hover,
input[type="password"]:focus,
input[type="password"]:hover {
	outline: 2px solid var(--outline-color);
}

.text-action-btn {
	background-color: var(--interaction-color);
}

a {
	color: inherit;
	text-decoration: none;
}

.result-title,
#suggestion {
	color: var(--search-result-title-color);
}

a:visited>.result-title,
a:visited>#suggestion {
	color: mediumpurple;
}


.result-title::before,
#suggestion::before {
	background-color: var(--search-result-title-color);
}

.result-title,
.logo {
	display: inline-block;
}

#suggestion {
	display: inline-flex;
}

.result-title,
#suggestion,
.logo {
	position: relative;
	transition: color 0.3s ease;
	overflow: hidden;
	z-index: 1;
}

.result-title::before,
#suggestion::before,
.logo::before {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	transition: left 0.3s ease;
	z-index: -1;
}

a:hover>.result-title::before,
.logo:hover::before,
#suggestion:hover::before {
	left: 0;
}

a:hover>.result-title,
a:focus>.result-title,
.logo:hover,
.logo:focus,
#suggestion:hover,
#suggestion:focus {
	outline: none;
}


a:hover>.result-title,
a:focus>.result-title,
a:visited>#suggestion:hover,
a:visited>#suggestion:focus,
#suggestion:hover,
#suggestion:focus {
	color: white;
}

a:focus>.result-title,
#suggestion:focus {
	background-color: #007bff;
}

.result-url {
	color: var(--search-result-url-color);
	display: block;
	overflow-x: hidden;
	text-overflow: ellipsis;
	max-width: max-content;
	font-style: normal;
	font-size: 12px;
}

.result-description {
	color: var(--font-color);
}

table {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

table,
tbody {
	overflow: auto;
}

tbody,
thead,
tfoot {
	padding: 1rem;
	border: 1px solid;
}

tbody {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow-y: auto;
	gap: 1rem;
}

thead {
	position: sticky;
	top: 0;
	background-color: var(--accent-color);
}

th label {
	display: flex;
	gap: 1rem;
	padding: 0rem 1rem;
	align-items: center;
}

td,
tr {
	display: flex;
}

td {
	width: 100%;
}

tr {
	justify-content: center;
}

tbody tr {
	border: 1px solid;
}

input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid var(--font-color);
	width: 17px;
	height: 17px;
	cursor: pointer;
	margin: 0;
}

input[type=checkbox]:checked {
	background: url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 2px 3px no-repeat;
	background-color: var(--checkbox-bg-color);
}

select,
button {
	background-color: var(--interaction-color);
	border: 1px solid var(--interaction-border-color);
	color: var(--interaction-font-color);
	padding: 0.5rem;
}

select {
	transition: box-shadow 0.5s;
}

select:focus,
select:active,
select:hover {
	cursor: pointer;
	outline: none;
	box-shadow: 0.1rem 0.1rem var(--font-color);
}

#crawlerboard-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-align: center;
	height: 100%;
}


.crawlerboard-action-btn {
	flex: 1;
}

#crawlerboard-accept-btn {
	background-color: var(--crawlerboard-accept-btn);
}

#crawlerboard-reject-btn {
	background-color: var(--crawlerboard-reject-btn);
}

#toast-container {
	display: none;
	flex-direction: column;
	gap: 1rem;
	position: absolute;
	z-index: 100;
	font-size: 1rem;
	bottom: 5%;
	right: 5%;
}

.toast {
	padding: 1rem 3rem;
	color: var(--toast-secondary-color);
	box-shadow: 0.3rem 0.3rem var(--toast-secondary-color);
	border: 3px solid var(--toast-secondary-color);
	background-color: whitesmoke;
}

.failure h3 {
	color: red;
}

.success h3 {
	color: green;
}

@keyframes slideIn {
	from {
		transform: translateX(10%);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideOut {
	from {
		transform: translateX(0);
		opacity: 1;
	}

	to {
		transform: translateX(10%);
		opacity: 0;
	}
}

#toast-container.show.removing {
	animation: slideOut 0.3s ease-in forwards;
}

#toast-container.show {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	animation: slideIn 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.pagination {
	display: flex;
	margin: 1.5rem 0;
	justify-content: space-between;
	margin: 1.5rem;
}

.pagination>a {
	color: palevioletred;
	background-color: var(--bg-color);
	border: 2px solid palevioletred;
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 2rem;
	align-items: center;
}

.pagination>a:hover {
	color: var(--bg-color);
	background-color: palevioletred;
}

#current-page {
	color: var(--bg-color);
	background-color: palevioletred;
}

@media (max-width: 860px) {

	.search-btn {
		width: 100%;
	}

	input[type="text"],
	input[type="url"],
	input[type="password"] {
		width: 100%;
	}

	.header {
		bottom: 0;
		order: 1;
		border-top: 1px solid var(--font-color);
		border-bottom: 0;
		padding: 1rem;
		flex-direction: column;
	}

	#header-logo {
		display: none;
	}

	#header-logo-mobile {
		display: block;
	}

	#header-actions {
		justify-content: space-between;
	}


	.text-action-form {
		width: 100%;
	}

	.pagination {
		gap: 0.5rem;
		margin: 1.5rem 0;
	}

	.pagination>a {
		min-width: 1.5rem;
	}

	#crawlerboard-container {
		justify-content: end;
	}

	th label {
		padding: 0rem 1rem;
	}

	tbody,
	thead,
	tfoot {
		padding: 0.5rem;
	}

	tfoot label {
		display: flex;
		flex-direction: column;
	}
}

.result-description {
	display: -webkit-box;
	word-break: break-word;
	overflow: hidden;
	-webkit-box-orient: vertical;
	line-clamp: 2;
	-webkit-line-clamp: 2;
}

.disabled {
	background-color: var(--disabled-color) !important;
	box-shadow: 0 0;
	color: gray;
}

.disabled:hover,
.disabled:focus {
	cursor: not-allowed;
	box-shadow: none;
}
