* {
	box-sizing: border-box;
}

body {
	min-height: 100svh;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	display: flex;
	flex-direction: column;
	background-color: floralwhite;
}

h1,
h3 {
	margin: 0;
}

h1 {
	text-align: center;
}

main {
	flex: 1;
	padding: 1rem;
	display: flex;
	word-break: break-all;
	justify-content: space-around;
}

button {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 1rem;
	border: 0;
	cursor: pointer;
	transition: box-shadow 0.5s;
}

button:hover,
button:focus {
	outline: 0;
	box-shadow: 0.3rem 0.3rem black;
}

.header {
	position: sticky;
	top: 0;
	border-bottom: 1px solid black;
	display: flex;
	padding: 2rem;
	gap: 2rem;
	z-index: 5;
	background-color: floralwhite;
}

.logo {
	font-weight: 200;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	aspect-ratio: 1/1;
	min-width: 2.5rem;
	position: relative;
}

#header-actions {
	display: flex;
	justify-content: right;
	width: 100%;
}

#header-logo-mobile {
	display: none;
}

.logo::before {
	background-color: black;
}

.logo:hover,
.logo:focus {
	color: white;
}

.logo:focus {
	background-color: black;
	outline: none;
}

.text-action-form {
	display: flex;
	gap: 1rem;
}


input[type="text"],
input[type="url"] {
	flex: 1;
	border: 0;
	outline: 1px solid black;
	padding: 0 1rem;
	width: 500px;
}

input[type="text"]:focus,
input[type="text"]:hover,
input[type="url"]:focus,
input[type="url"]:hover {
	outline: 2px solid black;
}

.text-action-btn {
	background-color: pink;
}

a {
	text-decoration: none;
}

.result-title,
#suggestion {
	color: #007bff;
}

.result-title::before,
#suggestion::before {
	background-color: #007bff;
}

.result-title,
.logo {
	display: inline-block;
}

#suggestion {
	display: inline-flex;
}

.result-title,
#suggestion,
.logo {
	position: relative;
	transition: color 0.3s ease;
	overflow: hidden;
	z-index: 1;
}

.result-title::before,
#suggestion::before,
.logo::before {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	transition: left 0.3s ease;
	z-index: -1;
}

a:hover>.result-title::before,
.logo:hover::before,
#suggestion:hover::before {
	left: 0;
}

a:hover>.result-title,
a:focus>.result-title,
.logo:hover,
.logo:focus,
#suggestion:hover,
#suggestion:focus {
	color: white;
	outline: none;
}

a:focus>.result-title,
#suggestion:focus {
	background-color: #007bff;
}

.result-url {
	color: green;
	display: block;
	overflow-x: hidden;
	text-overflow: ellipsis;
	max-width: max-content;
	font-style: normal;
	font-size: 12px;
}

.result-description {
	color: #323232;
}

table {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

table,
tbody {
	overflow: auto;
}

tbody {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow-y: auto;
	gap: 1rem;
}

thead {
	position: sticky;
	top: 0;
	background-color: antiquewhite;
}

td,
tr {
	display: flex;
}

td {
	width: 100%;
}

tr {
	justify-content: center;
	border: 1px solid;
}

td:has(input[type="checkbox"]:checked) {
	background-color: skyblue;
}

input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid black;
	width: 17px;
	height: 17px;
	cursor: pointer;
}

input[type=checkbox]:checked {
	background: url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 2px 3px no-repeat;
}

#crawlerboard-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-align: center;
	height: 100%;
}


.crawlerboard-action-btn {
	flex: 1;

}

#toast-container {
	display: none;
	flex-direction: column;
	gap: 1rem;
	position: absolute;
	z-index: 100;
	font-size: 1rem;
	bottom: 5%;
	right: 5%;
}

.toast {
	padding: 1rem 3rem;
	box-shadow: 0.3rem 0.3rem;
	border: 3px solid;
	background-color: whitesmoke;
}

.failure h3 {
	color: red;
}

.success h3 {
	color: green;
}

@keyframes slideIn {
	from {
		transform: translateX(10%);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideOut {
	from {
		transform: translateX(0);
		opacity: 1;
	}

	to {
		transform: translateX(10%);
		opacity: 0;
	}
}

#toast-container.show.removing {
	animation: slideOut 0.3s ease-in forwards;
}

#toast-container.show {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	animation: slideIn 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.pagination {
	display: flex;
	margin: 1.5rem 0;
	justify-content: space-between;
	margin: 1.5rem;
}

.pagination>a {
	color: palevioletred;
	background-color: floralwhite;
	border: 2px solid palevioletred;
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 2rem;
	align-items: center;
}

.pagination>a:hover {
	color: floralwhite;
	background-color: palevioletred;
}

#current-page {
	color: floralwhite;
	background-color: palevioletred;
}

@media (max-width: 860px) {

	.search-btn {
		width: 100%;
	}

	input[type="text"],
	input[type="url"] {
		width: 100%;
	}

	.header {
		bottom: 0;
		order: 1;
		border-top: 1px solid black;
		border-bottom: 0;
		padding-top: 1rem;
		flex-direction: column;
	}

	#header-logo {
		display: none;
	}

	#header-logo-mobile {
		display: block;
	}

	#header-actions {
		justify-content: space-between;
	}


	.text-action-form {
		width: 100%;
	}

	.pagination {
		gap: 0.5rem;
		margin: 1.5rem 0;
	}

	.pagination>a {
		min-width: 1.5rem;
	}

	#crawlerboard-container {
		justify-content: end;
	}
}

.result-description {
	display: -webkit-box;
	word-break: break-word;
	overflow: hidden;
	-webkit-box-orient: vertical;
	line-clamp: 2;
	-webkit-line-clamp: 2;
}

.disabled {
	background-color: lightgray !important;
}

.disabled:hover,
.disabled:focus {
	cursor: not-allowed;
	box-shadow: none;
}
